.module-catalog {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;

}
.small-card {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
  color: #4a4a4a;
  display: block;
  font-size: 0.75em;
  width: 200px;
  margin: 1.25em;
}

.small-card-title {
  align-items: center;
  color: #363636;
  display: flex;
  flex-grow: 1;
  font-weight: 700;
  padding: .75rem;
  justify-content: center;
}
.module {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px;
}

.module.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login {
  width: 200px;
  margin: 10px auto;
}

.card {
  margin: 1em;
  width: 250px;
  min-width: 250px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.card-animated:hover {
  transform: translate(0, -5px) scale(1.05, 1.05);

  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24), 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.path {
  float: left;
  background: white;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.32);
  min-height: 100%;
}

.path .visibile {
  width: 300px;
}

.path .hidden {
  width: 0px;
}

.a .button .card-footer-item {
  background: #cacaca;
}

.card .card-content {
  flex-grow: 1;
}

.description {
  margin-bottom: 20px;
}

.columns {
  display: flex;
}

body {
  background: #f1f1f1;
}
